body {
  background-color: #e2e3e4;
  color: #5a5a5a;
}

h1 {
  color: #5a5a5a;
}

.credits {
  margin-top: 25px;
}

.credits-cell {
  margin-bottom: 15px;
}

.credits-cell img {
  margin-top: 10px;
}

.github-button {
  margin-top: 25px;
}

.coming-soon-text {
  margin-top: 25px;
}
